---
export const prerender = true;

import Layout from '../layouts/Layout.astro';
import Lightbox from '@julian_cataldo/astro-lightbox/Lightbox.astro';
import { Image } from 'astro:assets';

// local画像の一括取得
const images = await Astro.glob("../images/*.{jpg,png}").then(files => {
  return files.map(file => file.default);
});
---

<Layout title="思い出一覧">
	<main>
		
		<Lightbox />

		<ul class="memories">
			{images.map((image) => (
				<li class="memory-item" data-lightbox="true">
					<Image
						src={image}
						alt="wedding image"
						widths={[240, 540, 720, image.width]}
						sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${image.width}px`}
						quality="low"
						loading="lazy"
					/>
				</li>
			))}
		</ul>
		<div id="full-screen-image" class="">
		</div>
	</main>
</Layout>

<style>
	.memories {
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2px;
	}
	.memory-item {
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		overflow: hidden;
	}
	.memory-item img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		box-sizing: border-box;
	}
</style>