---
interface Props {
	title: string;
}

import { Image } from 'astro:assets';

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/dog_128.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
		<footer>
			<nav>
				<a href="/">
					<Image src="/wedding.svg" alt="profile" width="40" height="40" />
				</a>
				<a href="/menu">
					<Image src="/cook.svg" alt="cook" width="40" height="40" />
				</a>
				<a href="/memory">
					<Image src="/memory.svg" alt="memory" width="40" height="40" />
				</a>
			</nav>
		</footer>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #fff;
	}
	body {
		margin: 0;
		position: relative;
		padding-bottom: 160px;
		background-color: #fff;
	}
	footer {
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		bottom: 0;
		padding: 20px 20px 40px;
	}
	footer nav {
		display: flex;
		justify-content: center;
		gap: 20px;
	}
	footer nav a {
		text-decoration: none;
		font-size: 20px;
		background-color: #ddd;
		display: block;
		padding: 20px;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		border: 1px solid #4B4B4B;
	}
</style>
